@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F6F6;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #9799A6;
}

.sidebar-nav {
  font-weight:450;
  font-size: 1em;
}

.lni {
  font-weight:900;
  font-size: 1.1em;
}

.sidebar-item {
  padding: 10px;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.1em;
}

.sidebar-item:hover {
  background-color: #E5E9FF;
  border: 0px;
  border-radius: 0.7em;
}

.sidebar-link:hover {
  color: #5B71FF;
}

#toggle-btn{
  margin-left: 14px;
  padding: 0.1em;
  border: none;
  background: none;
  cursor: pointer;
  color: #9799A6;
}

ul{
  list-style: none;
  padding: 5px;
}

#sidebar{
  z-index: 1000;
  height: 100vh;
  width: 300px;
  padding: 6px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  transition: 350ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;  
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sidebar-word-logo {
  color:black;
}

.sidebar-logo {
  padding: 20px;
  font-weight: 700;
}

.rotate svg:last-child{
  rotate: 180deg;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}


